<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="me-auto"></div>

      <div>
        <a href="http://hems.de/" target="_blank" rel="noopener"><!--
          --><img src="<%- url.root %>/img/hems.svg" width="60" height="60" class="align-top d-inline-block"
                  alt="Webseite der Heinrich-Emanuel-Merck-Schule Darmstadt"><!--
        --></a>

        <a href="http://skulpturengarten-darmstadt.de/" target="_blank" rel="noopener"><!--
          --><img src="<%- url.root %>/img/Skulpturengarten.png" width="60" height="60"
                  class="align-top d-inline-block" alt="Webseite des Skulpturengarten Darmstadt"><!--
        --></a>
      </div>
    </div>
  </nav>
</header>