@charset "UTF-8";

#imgContainer {
    position: relative;
}

#cardContainer {
    overflow-x: hidden;
}

#imgButtons button {
    font-size: 1.25rem;
    padding:   revert;
    position:  absolute;
}

#cardContainer video,
#cardContainer audio {
    max-height: 75vh;
    width:      100%;
}

/* Animations */

.animated.slideIn {
    animation: slideIn .5s ease;
}

.animated.slideOut {
    animation: slideOut .5s ease;
}

@keyframes slideIn {
    from {
        opacity:   0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity:   1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut {
    to {
        opacity:   0;
        transform: translate3d(100%, 0, 0);
    }
}