<!DOCTYPE html>
<html class="h-100" lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include(`${RES_DIR}/.templates/head.html`); %>

  <title><%= pageTitle %></title>
</head>
<body class="d-flex flex-column h-100">
<%- include(`${RES_DIR}/.templates/header.html`); %>

<main>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div id="imgDiv" style="position: relative">
        <img id="imgNode" src="<%- url.root %>/img/bg.png" class="img-fluid" onclick="onBtnClick(null)"
             alt="Zeichnung des Skulpturengartens, aus der Luft">

        <!-- Load hd image in the background and show button when ready -->
        <!-- <img src="img/feathericons/maximize-2.svg" style="padding: revert; position: absolute; top: 15px; right: 15px;" -->
        <!-- alt="Click to maximize image" onclick="toggleFullscreen(this)"> -->

        <!-- TODO: Add animation to card close -->

        <% mediaList.forEach((m, index) => { %>
        <%- include(`${RES_DIR}/.templates/media.html`, {info: m, index}); %>
        <% }); %>
      </div>
    </div>

    <hr>

    <div class="text-center">
      <h3>Wir im Skulpturengarten Darmstadt</h3>

      <p class="blockquote">
        Im Rahmen der Kurse <em>Kreatives Schreiben</em> und <em>Darstellendes Spiel</em> sind wir
        mit unseren Lehrerinnen einen Nachmittag im <em>Skulpturengarten Darmstadt</em> gewesen und
        wurden dort von Frau Kuhlmann durch das Gelände geführt.
      </p>

      <p class="blockquote">
        Wir haben uns von den einzelnen Ausstellungsstücken unter anderem zu Texten inspirieren lassen und uns dazu
        entschlossen, diese aufzubereiten und für Interessierte auf dieser Webseite auszustellen.
      </p>
    </div>
  </div>
</main>

<%- include(`${RES_DIR}/.templates/footer.html`); %>

<script src="<%- url.root %>/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/5.1.0/screenfull.min.js"
        integrity="sha512-SGPHIoS+NsP1NUL5RohNpDs44JlF36tXLN6H3Cw+EUyenEc5zPXWqfw9D+xmvR00QYUYewQIJQ6P5yH82Vw6Fg=="
        crossorigin="anonymous" async defer></script>

<%- include(`${RES_DIR}/.templates/scripts.html`); %>
</body>
</html>